In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
from bs4 import BeautifulSoup

In [27]:
%cd scraper/

/home/cesar/Documents/practica_cursos/code/python/ingenieria_de_datos/scraper

In [38]:
pd.options.display.max_rows = 10

In [63]:
df_unv = pd.read_csv('eluniversal_21_02_15_articles.csv',encoding='utf-8')
df_unv

,body,title,url
0,Una joven estadounidense que se peinó con pega...,Una joven de EEUU se peina con pegamento y lue...,http://www.eluniversal.com/estilo-de-vida/9034...
1,"Buenos Aires.- Leopoldo Jacinto Luque, autor d...","Falleció Leopoldo Luque, figura de Argentina e...",http://www.eluniversal.com/deportes/90593/fall...
2,A propósito de los Carnavales Caracas Caribe 2...,Realizaron Gran toma Cultural y Deportiva en e...,http://www.eluniversal.com/caracas/90543/reali...
3,Yolanda Moreno es la nueva embajadora #MarcaVe...,"Yolanda Moreno, pasión por Venezuela",http://www.eluniversal.com/sociales/90497/yola...
4,"Coca-Cola 1,25 litros, que se ofrece en botell...",Venezuela es territorio retornable,http://www.eluniversal.com/economia/90229/vene...
...,...,...,...
31,Los Sussex confirmaron que esperan su segundo ...,Los duques de Sussex esperan su segundo hijo,http://www.eluniversal.com/sociales/90522/los-...
32,El segundo juicio por impeachment a Donald Tru...,El Partido Republicano entra en combustión con...,http://www.eluniversal.com/internacional/90557...
33,Madrid.- El Athletic de Bilbao arrasó en su vi...,El Athletic de Bilbao se instala en la zona tr...,http://www.eluniversal.com/deportes/90590/el-a...
34,Lara.- A Lara ya llegaron las cavas que almace...,Lara recibirá vacunas Sputnik V,http://www.eluniversal.com/venezuela/90589/lar...
35,Un hombre identificado como Freddy Richardy En...,Asesinan a funcionario de la Dgcim en el estad...,http://www.eluniversal.com/sucesos/90400/asesi...

In [90]:
df_ps = pd.read_csv('elpais_21_02_16_articles.csv',encoding='utf-8')
df_ps

,body,title,url
0,{'A pesar de que asegura que no tiene discipli...,"""Haya pandemia o no, se siguen escuchando canc...",https://www.pagina12.com.ar/323432-haya-pandem...
1,{'La industria arrancó 2021 con números positi...,La industria continúa con su despegue,https://www.pagina12.com.ar/323985-la-industri...
2,{'La Secretaría de Comercio Interior del Minis...,Fiscalizan el acuerdo de la carne,https://www.pagina12.com.ar/323966-fiscalizan-...
3,{'El reconocido preparador de chasis del Turis...,"Murió Alberto Canapino, emblemático chasista d...",https://www.pagina12.com.ar/324005-murio-alber...
4,{'En las efemérides del 16 de febrero sobresal...,Efemérides de hoy: qué pasó un 16 de febrero,https://www.pagina12.com.ar/323660-efemerides-...
...,...,...,...
74,{'La agenda medioambiental a nivel global reto...,Las claves de la economía circular,https://www.pagina12.com.ar/323997-las-claves-...
75,{'A pesar de que las autoridades prohibieron l...,"Pese a la suspensión del carnaval, miles de pe...",https://www.pagina12.com.ar/323973-pese-a-la-s...
76,"{'La derrota del Socialismo, primero en la int...",La distancia que se debe acortar,https://www.pagina12.com.ar/323655-la-distanci...
77,{'Empresarios hoteleros y gastronómicos reclam...,Reclaman la vuelta del ATP,https://www.pagina12.com.ar/323989-reclaman-la...
78,{'Amigos y familiares de Ivana Mariela Módica ...,Sigue la búsqueda de Ivana Módica en La Falda:...,https://www.pagina12.com.ar/323926-sigue-la-bu...

In [68]:
df_unv.isna().any()

body     False
title    False
url      False
dtype: bool

In [91]:
df_ps.isna().any()

body     False
title    False
url      False
dtype: bool

In [92]:
df_ps.loc[0:20,['title','url']]

,title,url
0,"""Haya pandemia o no, se siguen escuchando canc...",https://www.pagina12.com.ar/323432-haya-pandem...
1,La industria continúa con su despegue,https://www.pagina12.com.ar/323985-la-industri...
2,Fiscalizan el acuerdo de la carne,https://www.pagina12.com.ar/323966-fiscalizan-...
3,"Murió Alberto Canapino, emblemático chasista d...",https://www.pagina12.com.ar/324005-murio-alber...
4,Efemérides de hoy: qué pasó un 16 de febrero,https://www.pagina12.com.ar/323660-efemerides-...
...,...,...
16,De la ficción de Bicicletas3000 a The Big Bang...,https://www.pagina12.com.ar/323430-de-la-ficci...
17,Más fondos para los más golpeados,https://www.pagina12.com.ar/323988-mas-fondos-...
18,La insólita denuncia del intendente de El Bols...,https://www.pagina12.com.ar/324020-la-insolita...
19,Cómo ser socios y sabuesos,https://www.pagina12.com.ar/323639-como-ser-so...
20,"Por qué la etiqueta de ""Vacunade"" tiene éxito ...",https://www.pagina12.com.ar/323917-por-que-la-...

In [88]:
df_ps.loc[4,'body']

"{'El Estado nacional enfrenta en lo que queda de este año vencimientos de deuda por el equivalente a 53.086 millones de dólares, de los cuales 24.682 millones corresponden a deuda intra-sector público, que por lo tanto es fácilmente refinanciable. En cambio, 28.404 millones de dólares es la deuda que el Estado tiene con acreedores privados y organismos internacionales. Los datos fueron estimados por la Oficina de Presupuesto del Congreso (OPC).Los vencimientos con el FMI previstos para este año acumulan 5193 millones de dólares, con los mayores pagos concentrados en septiembre y en diciembre, mientras que a los gobiernos que integran el Club de París se les debe pagar aproximadamente 2460 millones de dólares en mayo. En ambos casos, la intención del gobierno es renegociar la deuda y conseguir varios años de gracia para afrontar el repago.Más de la mitad de los vencimientos totales corresponden a títulos públicos en moneda nacional, por el equivalente a 26.899 millones de dólares.Operaciones de eneroSe realizaron dos licitaciones de títulos que resultaron en la colocación de instrumentos denominados en moneda local por un total de 250.188 millones de pesos. Al mismo tiempo, se cancelaron títulos públicos de mercado por el equivalente a 2182 millones de dólares. De ese total, 2172 millones se pagaron en efectivo en pesos mientras que el resto correspondió a bajas por operaciones de canje de títulos denominados en dólares.Además, el mes pasado ingresaron préstamos por 35 millones de dólares y se pagaron amortizaciones por 291 millones, principalmente correspondientes a préstamos bilaterales. En el terreno de los intereses, el Estado pagó por el equivalente a 434 millones de dólares, de los cuales 85 por ciento se realizó en moneda nacional. Se destacó el pago de intereses de Cuasipar y Discount en pesos ajustables por CER por un total de 16.026 millones de pesos.Números de febreroLos vencimientos para febrero totalizan el equivalente a 4011 millones de dólares, por amortizaciones por 3555 millones e intereses por 455 millones. Sin embargo, al excluir las tenencias intra sector público, los vencimientos estimados se reducen a 2055 millones de dólares, de los cuales el 77 por ciento se cancela en moneda local. La primera semana de febrero se pagaron intereses del acuerdo\\nStand-By con el FMI, por el equivalente a 313 millones de dólares. Para marzo, se prevén vencimientos que totalizan 6204 millones de dólares y en abril llegan a 7.044 millones de dólares.'}"

In [89]:
print(df_ps.loc[4,'url'])

https://www.pagina12.com.ar/323995-el-peso-de-la-deuda-externa

# Pruebas

In [23]:
pd.DataFrame({
    'a':np.arange(0,10),
    'b':np.arange(10,20),
    'c':np.arange(20,30)})

   a   b   c
0  0  10  20
1  1  11  21
2  2  12  22
3  3  13  23
4  4  14  24
5  5  15  25
6  6  16  26
7  7  17  27
8  8  18  28
9  9  19  29

In [24]:
pd.DataFrame([
    np.arange(0,10),
    np.arange(10,20),
    np.arange(20,30)])

    0   1   2   3   4   5   6   7   8   9
0   0   1   2   3   4   5   6   7   8   9
1  10  11  12  13  14  15  16  17  18  19
2  20  21  22  23  24  25  26  27  28  29

In [26]:
np.random.rand(2,3)

array([[0.79472249, 0.14391197, 0.06533653],
       [0.4606835 , 0.22262398, 0.03597537]])